
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111111;
}

.app {
    width: 25rem;
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    overflow-y: scroll;
    overflow-x: hidden;
}

#graph_container{
    height: 80vh;
}

#nav_bar_container {
    position: fixed;
    bottom: 0;
    width: 25rem;
    height: 8vh;
    z-index: 999;
    background-color: #EDEDED;  
}

#nav_bar {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_bar_link_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #525252;
}

.nav_bar_link_container p {
    text-decoration: none;

}

#profile_header {
    background: linear-gradient(150deg, #7B89FF, #A6FF76);
    min-height: 8rem;
    font-size: 36px;
    display: flex;
    align-items: end;   
    color: #FFFFFF;
}

#video_container {
    width: 25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera_text {
    color: #FFFFFF;
    height: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    pointer-events: "none";
}

#camera_label {
    font-size: 32px;
    text-align: center;
    max-width: 20rem;
}

#camera_subtext {
    font-size: 20px;
    text-align: center;
    padding-bottom: 50vh;
}

.manual-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 20rem;          /* or adjust as needed */
  height: 3rem;          /* matches the screenshot */
  border-radius: 32px;
  background: #dde2ff;
  color: #6680ff;
  font-size: 20px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
}

.manual-input-btn .arrow {
  font-size: 1.6em;
  margin-left: 0.3rem;
}

.manual-input-btn:active {
  background: #cfd8ff;
}